@import url('index.css');

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.carta {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carta img {
    max-width: 100%;
    height: auto;
}

.carta a{
    text-decoration: none;
    color: black;
}

.carta h1 {
    font-size: 24px;
    margin-top: 10px;
}

.carta:hover{
    transform: scale(1.2);
    transition: all 300ms ease;
}

@media (min-width: 1080px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
} 